{% extends 'base.html' %}
{% load static %}
  <link rel="stylesheet" href="{% static 'experts/bio.css' %}">
{% block title %}Bio{% endblock %}
{% block content %}
<body>
{% if expert %}
    
    <br><br>
    <h1 id="expertName">{{expert.expert_Name}}</h1>
    <br>
    <section id="Picture">
        Photo: <img src = "{{expert.expert_Picture.url}}" alt="img" width="6%">
    </section>
    <br>
    <br>
    <br>
    <div class="info">
        Expert in: {{expert.expert_Field}}
        <br>
        <br>
        Phone: {{expert.expert_Phone}}
        <br>
        <br>
        Email: {{expert.expert_Email}}
        <br>
        <br>
        Achievements:
        <br>
        <br>
        {{expert.expert_Achievements}}
        <br>
        <p class="spacing">
            <div id="Topic">Topics: </div> <br>
            {% for topic in expert.expert_Topics.all %}
                <a href= '/topic/{{topic.id}}'>{{topic}}</a>
            {% endfor %}
        </p>
    </div>
{% else %}
Expert not found
{% endif %}
{% endblock %}
</body>