{% extends 'base.html' %}
{% block title %}Bio{% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'experts/bio.css' %}">
{% if expert %}
    <h1 id="expertName">{{expert.expert_Name}}</h1>
    <section id="Picture">
        <img src = "{{expert.expert_Picture.url}}" alt="img" width="12%">
    </section>
    <br>
    <hr class="solid">
    <br>
    <br>
    <br>
    <div class="info">
        Expert in: {{expert.expert_Field}}
        <br>
        <br>
        Phone: {{expert.expert_Phone}}
        <br>
        <br>
        Email: <a href = "mailto:{{expert.expert_Email}}">{{expert.expert_Email}}</a>
        <br>
        {% for link in expert.expert_Links.all %}
        <section id="linkList">
            <br>
            Links: <a href= '{{link.url}}'>{{link.name}}</a>
        </section>
        {% endfor %}
        <br>
        <h2 id="Achievements">Achievements: </h2>
        {{expert.expert_Achievements}}
        <br>
        <br>
        <p class="spacing">
            <h2 id="Topic">Topics: </h2>
            {% for topic in expert.expert_Topics.all %}
            <section id="topicList">
                <ul>
                <li><a href= '/topic/{{topic.id}}'>{{topic}}</a></li>
                </ul>
            </section>
            {% endfor %}
        </p>
    </div>
{% else %}
Expert not found
{% endif %}
{% endblock %}