{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if experts_list %}
    {% for expert in experts_list %}
        <br>
        <a href= '/expert/{{expert.id}}'>{{expert.expert_Name}}</a>
        <br>
        {{expert.expert_Field}}
        <br>
        {% for topic in expert.expert_Topics.all %}
            <a href= '/topic/{{topic.id}}'>{{topic}}</a>
        {% endfor %}
    {% endfor %}
{% else %}
Experts list not found
{% endif %}
{% if topics_list %}

    <div class="tile">Topics</div>
    {% for topic in topics_list %}
    <a href= '/topic/{{topic.id}}'>{{topic}}</a>
    {% endfor %}

<!-- Main container -->
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="is-size-4">All Experts</p>
      </div>

    <div class="level-item">
    <!-- List of experts -->
    {% if experts_list %}
        {% for expert in experts_list %}
            <br> <br> <br> <br>
            <a href= '/expert/{{expert.id}}'>
                <p class="ml-6">{{expert.expert_Name}}</p></a>
            <br> <br> <br>
            {{expert.expert_Field}}
            <br>
        {% endfor %}
    {% else %}
    Experts list not found
    {% endif %}
    </div>

      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="Search for an expert">
          </p>
          <p class="control">
            <!-- search button just for show right now -->
            <button class="button">
              Search
            </button>
          </p>
        </div>
      </div>
    </div>
  
    <!-- Right side -->
    <div class="level-right">
        <p class="mr-6 is-size-4"> Experts by Topic </p>
        <p class="has-text-left mr-6">
            {% for topic in topics_list %}
            <br> <br> <br> <br>
            <a href= '/topic/{{topic.id}}'>{{topic}}</a>
            {% endfor %}
        </p>
    </div>
  </nav>

{% else %}
Topics list not found
{% endif %}
{% endblock %}