<html>
  {% load static %}
  <link rel="stylesheet" href="{% static 'experts/style.css' %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
  <main>
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
      <a href="/admin">Admin Page</a><br>
      {% endif %}
      Currently Logged in as: {{ user.username }}
      {% if request.path != "/" %}
      <br><a href="/">Home</a> 
      {% endif %}
    {% else %}
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
  <!--starting my work outside of main for right now-->
  <header id="msulogo">
    <img src="https://cdn01.its.msstate.edu/i/logos/cas/HORIZONTAL_WEB_maroon.svg" width="500px">
  </header>
  <h1 id="expertsHeading">Experts List</h1>
  <h2 id="expertsHeading2">All Experts</h2>

</body>
</html>