#expertName{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -25vh;
    left: 94.3vh;
    font-size: 5vh;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 145vh;
    position: absolute;
    top: -2vh;
    right: 50vh;
}

#Topic{
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
}

p.spacing{
    line-height: 0.5;
}

#Achievements{
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#Picture{
    position: relative;
    top: 17vh;
    right: -65vh;
}

hr.solid{
    border-radius: 0vh;
    width: 0vh;
    position: absolute;
    bottom: 60vh;
    right: 75.5vh;
}

#topicList{
    position: relative;
    right: 3vh;
}