#expertName{
    position: relative;
    bottom: 5px;
    left: 400px;
    font-size: 45px;
}

.info {
    padding-left: 1100px;
    position: relative;
    top: -270px;
    right: 695px;
}

#Topic{
    text-decoration-line: underline;
}

p.spacing{
    line-height: 0.5;
}

#Achievements{
    text-decoration-line: underline;
}

#Picture{
    position: relative;
    top: -100px;
    right: -110px;
}

hr.solid{
    border-radius: 5px;
    width: 200px;
    position: relative;
    bottom: 275px;
    right: 245px;
}

#topicList{
    position: relative;
    right: 23px;
}