#expertsHeading{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4vh;
    text-align: left;
    position: relative;
    top: 13vh;
}

#expertsHeading2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4vh;
    text-align: left;
    position: relative;
    top: 8vh;
}

#expertslisted{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
    padding: 4vh;
    left: 25vh;
    top: 5vh;
}

#expertslisted-picture{
    position: relative;
    text-align: left;
    padding: 4vh;
    left: 5vh;
    top: -12vh;
}

#topics-homepage{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4vh;
    text-align: left;
    position: relative;
    top: -145vh;
    left: 140vh;
}

#searchbar{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 5vh;
    float: right;
    right: 12vh;
    top: -215vh;
}

.search-form{
    width: 50vh;
    margin: auto;
    margin-top: 35vh;
  }
  
  input {
    padding: .5vh 1vh;
    border: 0;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
  }
  
  .search {
    width: 35vh;
  }
  
  .submit {
    font-family: Arial, Helvetica, sans-serif;
    width: 10vh;
    background-color: #5D1725;
    color: #ffffff;
  }