#newsHeading {
    position: relative; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw; 
    top: 100px;
    left: 2vw; 
}

#smallnewsHeading {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw; 
    top: 80px; 
    left: 2vw; 
}

.lineBreak {
    position: relative;
    border: 2px solid #5e1725;
    width: 100%;
    top: 100px;
}

#newsContainer {
    position: relative;
    top: 50px;
    left: -1vw;
    height: 100vh;
    width: 100vw;
}

#newsList {
    position: relative;
    left: 3.22vw; 
    border-bottom: 1px solid #5e1726;
    width: 40vw; 
    height: 20.27vh;
}

#newslisted-picture{
    position: absolute;
    top: 2.13vh; /*20*/
    width: 148px; /*148 -> 7.7vw*/
    height: 158px; /*158 -> 16.86vh*/
}

#newsTitle {
    position: absolute; 
    font-size: 20px;
    top: 10px; /*10*/
    left: 160px; /*160*/
}

#newsExpert {
    position: absolute;
    top: 50px; /*20*/
    left: 160px; /*168*/
}

#newsDescription {
    position: absolute; 
    top: 60px; /*60*/
    left: 160; /*160*/
}

#topics-newspage {
    position: absolute;
    right: 10vw;
    top: 120px; /*150px -> 25vh*/
    width: 21.18vw; /*300*/
    height: 400px; /**/
}

#expertsTopic {
    font-size: 30px;
}



/*Ferrin's searchbar css*/
#smallsearchHeading {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    top: 0px;
    right: 25vw;
}

#searchbar{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 0vh;
    right: 2vw;
    float: right;
    top: 80px;
    z-index: 5;
}

.search-form{
    width: 30vw; /*50vh*/
    margin: auto;
    margin-top: 0px;
  }
  
  input {
    padding: .5vh 1vh;
    border: 0;
    font-size: 1vw;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
  }
  
  .search {
    width: 35vh;
  }
  
  .submit {
    font-family: Arial, Helvetica, sans-serif;
    width: 10vh;
    background-color: #5D1725;
    color: #ffffff;
  }
