#msulogo{
    position: absolute;
    left: -1000px;
}

/*.SubmissionBox {
    border-radius: 5px;
    width: 1050px;
    padding: 50px;
    padding-left: 165px;
    padding-right: 100px;
    position: relative;
    left: 360px;
    background-color: grey;
}  */

#login{
    position: relative;
    left: 1050px;
    top: 20px;
}