#msulogo{
    position: absolute;
    left: 20px;
    top: -7px;
}

/*.SubmissionBox {
    border-radius: 5px;
    width: 1050px;
    padding: 50px;
    padding-left: 165px;
    padding-right: 100px;
    position: relative;
    left: 360px;
    background-color: grey;
}  */

#admin{
    position: relative;
    left: 1185px;
    top: 5px;
}

#currentUser{
    position: relative;
    right: -1100px;
    top: 20px;
}

#home{
    position: relative;
    left: 1100px;
    top: -70px;
}