#msulogo{
    position: relative;
     top: -480px;  /*-250*/
    margin-right: 400px;
}
.sidebar {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    float: right;
    padding-top: 40px;
    background-color: maroon;
    }
.sidebar div {
    padding: 8px;
    font-size: 20px;
    display: block;
    }

/*.SubmissionBox {
    border-radius: 5px;
    width: 1050px;
    padding: 50px;
    padding-left: 165px;
    padding-right: 100px;
    position: relative;
    left: 360px;
    background-color: grey;
}  */

#login{
    position: relative;
    left: 1050px;
    top: 20px;
}