#expertslisted-topicspage{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
    padding: 4vh;
    left: 25vh;
    top: 10vh;
    z-index: 2;
}

#expertslisted-topicspicture{
    position: relative;
    text-align: left;
    padding: 4vh;
    left: 5vh;
    top: -8vh;
}